# Ignorar arquivos de estado do Terraform
*.tfstate
*.tfstate.backup

# Ignorar o arquivo de lock do Terraform (se necessário, você pode versioná-lo, mas geralmente não é recomendado)
*.terraform.lock.hcl

# Ignorar arquivos de configuração de credenciais
*.json
*.pem

# Ignorar diretórios do Terraform
.terraform/

# Ignorar logs de falha/crash
crash.log

# Ignorar arquivos temporários de editor (p. ex., Vim, Emacs, etc.)
*~
*.swp

# Ignorar arquivos de configuração de sessão do Terraform
terraform.rc
.terraformrc

# Ignorar arquivos de variáveis de ambiente, se contiverem informações sensíveis
*.tfvars

# Ignorar arquivos que podem conter dados sensíveis
*.env
